.taskViewCollection {
    padding-top: 0px !important;
    border: none !important;
    margin-bottom: 0px !important;
    padding-bottom: 30px !important;
}

.collection-item {
    border-top: 1px solid lightgray !important;
    border-left: 1px solid lightgray !important;
    border-right: 1px solid lightgray !important;
    border-bottom: 1px solid lightgray !important;
    height: 50px !important;
    z-index: 5;

}

.create_task_collection_item {
    border: none !important;
    margin-top: -30px !important;
}

.start_date {
    float: right !important;
}

.due_date {
    float: right !important;
}

td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.status_box {
    width: 10px;
}

.task_name {
    cursor: pointer;
    width: 100px;
}

.task_title {
    cursor: pointer;
}
