.task_view_modal {
    max-height: 80% !important;
    width: 95% !important;
    overflow-y: auto
}

.ql-editor {
    height: 300px !important;
}

.taskViewHistoryCol {
    background-color: lightgray;
    height: 450px !important;
    width: 100%;
    border-radius: 10px;
    overflow-y: scroll;
}

#taskViewCommentTextArea {
    min-height: 81px;
    max-height: 81px;
    overflow-y: auto;
}

#taskViewCommentButton {
    display: block !important;
    position: sticky !important;
    z-index: 100 !important;
}

.helper-text {
    display: none !important;
}

.text_area_col {
    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
}

