.loginBtn {
    visibility: hidden;
}

.padding-left {
    padding-left: 20px !important;
}

.rstm-search {
    width: 250px !important;
}

#space_name {
    max-width: 400px;
}

#list_name_form {
    max-width: 400px;
}

#folder_name_form {
    max-width: 400px;
}

.space_item{
    font-size: large;
}

.create_new {
    font-weight: normal;
}

.folder_item {

    font-size: medium;
}

.list_item {
    font-weight: normal;
    border-bottom: none !important;
}

.tree_element {
    text-align: left !important;
}

.rstm-tree-item {
    border-bottom: none !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.sidebar_search {
    margin-left: 20px !important;
    width: 250px !important;
}

.e-list-item {
    height: 100% !important;
    width: 100% !important;
}

.e-fullrow {
    height: 50px !important;
    width: 100% !important;
}





