.treeOptionsEllipses {
    margin-top: 13px;
    color: gray;
    opacity: 0%;
}

.treeOptionsEllipses:hover {
    opacity: 100%;
    cursor: pointer;
    z-index: 5 !important;
}

.treeOptionsDropdown {
    width: 200px;
    height: 100px !important;
}

.treeOptionsIcon {
    margin-top: 10px
}