.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}

.InputFromTo .DayPicker-Day {
  border-radius: 0 !important;
}
.InputFromTo .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.InputFromTo .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  background-color: #4a90e2 !important;
  color: #f0f8ff !important;
}
.InputFromTo .DayPickerInput-Overlay {
  /* width: 550px; */
  z-index: 4;
}
.InputFromTo-to .DayPickerInput-Overlay {
  margin-left: -198px;
}

.InputFromTo {
  height: 30px !important;
  float: right;
  margin-top: -10px;
  
}

.DayPickerInput {
  height: 40px !important;
  max-width: 90px !important;
}

.DayPickerInput input {
  font-size: 14px !important;
  border: none !important;
  cursor: pointer;
}

.from_icon {
  cursor: pointer;
  float: left;
  margin-left: -130px !important;
}

.to_icon {
  cursor: pointer;
  float: left;
  margin-left: -80px !important;
}