.favoritesCollection {
    cursor: pointer !important;
}

.favoritesCheck {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
}

.dropdownMenuFavorites {
    width: 160px;
}

.unfavorite_icon {
    margin-top: 10px;
}

.favoritesEllipses {
    margin-top: 5px;
}

.favoritesCollection{
    overflow: visible !important; 
}

.favoritesCollectionItem {
    overflow: visible !important;
}