.empty_assignee_icon {
    margin-left: 4px;
}

.user_image {
    max-height: 40px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.dropdownMenu {
    min-width: 200px !important;
}

.dropdown_selection_text {
    margin-top: 10px;
}

.assignee_image {
    max-height: 35px;
    /* margin-top: 2px; */
}

.user_image_selected_assignee {
    max-height: 40px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: block;
    border-radius: 200px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 3px solid #7B68EE;
}

.assigneeSelectorTd {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}