.user_image_settings {
    height: 40px;
    position:absolute;
    bottom: 50px;
    left: 10px;
}

.userDropdownMenu {
    min-width: 250px !important
}

.settings {
    margin-top: 11px;
}

.userDropdownItem {
    padding-left: 15px !important;
}

.workspaceSettingsUserItem {
    min-height: 60px !important;
}

.workspace_settings_user_name {
    margin-top: 8px;
}

.workspace_settings_user_trash {
    margin-top: 6px;
}

.workspace_settings_user_trash:hover {
    cursor: pointer;
}