.user_image_settings {
    height: 40px;
    position:absolute;
    bottom: 50px;
    left: 10px;
}

.userDropdownMenu {
    min-width: 250px !important
}

.settings {
    margin-top: 11px;
}

.userDropdownItem {
    padding-left: 15px !important;
}