.user_image_settings {
    height: 40px;
    position:absolute;
    bottom: 50px;
    left: 10px;
}

.userDropdownMenu {
    min-width: 250px !important
}

.settings {
    margin-top: 11px;
}

.userDropdownItem {
    padding-left: 15px !important;
}

.workspaceSettingsUserItem {
    min-height: 55px !important;
}

.workspace_settings_user_name {
    margin-top: 5px;
}

.workspace_settings_user_trash {
    margin-top: 4px;
    color: red;
}

.workspace_settings_user_trash:hover {
    cursor: pointer;
}

.input-field {
    width: 100%;
}

.existingUserImage {
    height: 38px !important;
    width: 38px !important;
    margin-top: -2px;
}